<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>Home - FindMyCamp</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
</head>

<body>
    <header class="header">
        <a class="logo" href="/">⛺ FindMyCamp</a>
    </header>
    <section class="landing-page">
        <div class="landing-content">
            <h1 class="landing-title">Explore the best camps on Earth.</h1>
            <p class="landing-description">FindMyCamp is a curated list of the best camping spots on Earth. <br><br> Unfiltered and unbiased reviews.</p>
            <ul class="landing-list">
                <li class="landing-item"><i class="fa-solid fa-circle-check"></i> Add your own camp suggestions.</li>
                <li class="landing-item"><i class="fa-solid fa-circle-check"></i> Leave reviews and experiences.</li>
                <li class="landing-item"><i class="fa-solid fa-circle-check"></i> See locations for all camps.</li>
            </ul>
            <div class="landing-buttons">
                <a href="/campgrounds" class="landing-btn">View Campgrounds</a>
            </div>
            <div class="landing-partners">
                <p class="partner-text">Partnered with:</p>
                <div class="partner-logo">
                    <img src="assets/img/Airbnb.svg" alt="airbnb" class="partner-img">
                    <img src="assets/img/Booking.svg" alt="booking.com" class="partner-img">
                    <img src="assets/img/Plum%20Guide.svg" alt="plum guide" class="partner-img">
                </div>
            </div>
        </div>
        <div class="landing-img"></div>
    </section>
</body>

</html>