body {
    background-color: #f3f2ef;
}

.outer {
    min-height: 400px;
    border-radius: 24px;
    margin: 20px 10px;
    background-color: #fbfbfb;
    transition: transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.outer:hover,
.outer:focus {
    background-color: #fff;
    transform: translateY(-0.5em);
}

.inner-spacing {
    padding: 13px 18px 28px 18px;
}

.camp-img {
    border-radius: 24px 24px 0 0;
}

.camp-title {
    font-weight: 400;
}

.title-rating {
    padding: 10px 5px 0px 5px;
    color: #ff8b3e;
}

.camp-location {
    display: block;
    padding: 0px 5px 10px 5px;
}

.camp-desc {
    color: #777;
    font-weight: 300;
    font-size: 15px;
    padding: 5px;
    padding-bottom: 0;
}

.camp-price{
    display: block;
    padding: 0px 5px 10px 5px;
}

.heading-underline {
    width: 60px;
    height: 3px;
    opacity: 1;
    color: #FF802B;
    background-color: #FF802B;
}

#toggleMapButton {
    padding: 8px 20px;
    border: 0;
    border-radius: 100px;
    background-color: black;
    color: #ffffff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

#toggleMapButton:hover {
    background-color: black;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.03);
}

#toggleMapButton:active {
    background-color: black;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}