.outer {
    border: 1px solid rgba(128, 128, 128, 0.394);
    padding: 20px;
    min-height: 400px;
    border-radius: 5px;
    margin: 20px 10px;
    background-color: #fbfbfb;
    transition: transform .2s;
}

.outer:hover, .outer:focus {
    background-color: #fff;
    transform: translateY(-0.5em);
}

.camp-img {
    border-radius: 5px;
}

.camp-title {
    padding-top: 15px;
    font-weight: 600;
}

.camp-desc {
    color: rgb(128, 128, 128);
    font-size: 15px;
    margin-bottom: 30px;
}

.camp-btn {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.909);
    color: #fff;
    width: 100%;
    font-weight: 400;
}

.camp-btn:hover {
    border: 1px solid rgba(128, 128, 128, 0.394);
    background-color: black;
    font-weight: 500;
    color: #fff;
}