.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-map {
    border: 1px solid rgba(128, 128, 128, 0.6);
    border-radius: 2px;
    width: 60%;
}

.directions-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}